@font-face {
  font-family: "iconfont"; /* Project id 3585315 */
  src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-common:before {
  content: "\e631";
}

.icon-bonus:before {
  content: "\e630";
}

.icon-dui:before {
  content: "\e60e";
}

.icon-feedback:before {
  content: "\e646";
}

.icon-dian:before {
  content: "\e60d";
}

.icon-cuo:before {
  content: "\e691";
}

.icon-miao:before {
  content: "\e604";
}

.icon-tuan:before {
  content: "\e606";
}

.icon-zhixiang:before {
  content: "\e650";
}

.icon-shou:before {
  content: "\e62d";
}

.icon-courier:before {
  content: "\e61c";
}

.icon-jiang:before {
  content: "\e600";
}

.icon-lei:before {
  content: "\e601";
}

.icon-pin:before {
  content: "\e602";
}

.icon-jing:before {
  content: "\e603";
}

.icon-quans:before {
  content: "\e607";
}

.icon-vips:before {
  content: "\e608";
}

.icon-qian:before {
  content: "\e609";
}

.icon-te:before {
  content: "\e60a";
}

.icon-category:before {
  content: "\e6e2";
}

.icon-filter:before {
  content: "\e7c8";
}

.icon-a-fenxiangdaochulianjie:before {
  content: "\e849";
}

.icon-cart:before {
  content: "\e649";
}

.icon-fenxiang:before {
  content: "\e64b";
}

.icon-home:before {
  content: "\e64c";
}

.icon-kefu:before {
  content: "\e64d";
}

.icon-xiaoxi:before {
  content: "\e64e";
}

.icon-VIP:before {
  content: "\e64f";
}

.icon-weixinzhifu:before {
  content: "\e61f";
}

.icon-available:before {
  content: "\e6f3";
}

.icon-zhifubaozhifu:before {
  content: "\e647";
}

.icon-jian:before {
  content: "\e6af";
}

.icon-quan:before {
  content: "\e6b0";
}

.icon-sort:before {
  content: "\e627";
}

.icon-yes:before {
  content: "\e61e";
}

.icon-shop:before {
  content: "\e6ae";
}

.icon-noData:before {
  content: "\e60b";
}

.icon-search:before {
  content: "\e620";
}

.icon-daipingjia:before {
  content: "\e634";
}

.icon-concern:before {
  content: "\e63a";
}

.icon-daishouhuo1:before {
  content: "\e63b";
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-daifahuo:before {
  content: "\e641";
}

.icon-returned:before {
  content: "\e644";
}

.icon-daizhifu:before {
  content: "\e645";
}

.icon-edit:before {
  content: "\e638";
}

.icon-share:before {
  content: "\e639";
}

.icon-dizhi:before {
  content: "\e636";
}

.icon-dingdan:before {
  content: "\e637";
}

.icon-shoucang:before {
  content: "\e63c";
}

.icon-qianbao:before {
  content: "\e63f";
}

.icon-setting:before {
  content: "\e63d";
}

.icon-youhuiquan:before {
  content: "\e643";
}

.icon-ListBox:before {
  content: "\e7ca";
}

.icon-shitu:before {
  content: "\e7cb";
}

.icon-shanchu:before {
  content: "\e632";
}

.icon-user:before {
  content: "\e64a";
}

.icon-calendar:before {
  content: "\e633";
}

.icon-sex:before {
  content: "\e642";
}

.icon-verCode:before {
  content: "\e624";
}

.icon-purge:before {
  content: "\e605";
}

.icon-delete:before {
  content: "\ec7b";
}

.icon-down:before {
  content: "\ed18";
}

.icon-right:before {
  content: "\eb8a";
}

.icon-gongnengdingyi:before {
  content: "\eb62";
}

.icon-theme:before {
  content: "\eb6e";
}

.icon-about:before {
  content: "\e635";
}

.icon-change:before {
  content: "\e63e";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-mima:before {
  content: "\e615";
}

.icon-shouji:before {
  content: "\e6c7";
}

